<form action="" method="POST">
  <label for="username-input">Username</label>
  <input id="username-input" type="username" name="username" placeholder="Valid Username">

  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password" placeholder="Strong Password">

  <button>Sign In</button>
</form>